body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 460px;
  width: 100vw;
  overflow: hidden;
}

#background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 29, 18);
}

#input-wrapper {
  cursor: pointer;
  background-color: rgb(53, 92, 53);
  color: white;
  padding: 12px 18px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 32px;
  transition: all 0.2s ease-in-out;
}

#input-wrapper:hover {
  transform: scale(1.02);
  background-color: rgb(63, 148, 63);
}

#canvas-wrapper {
  display: none;
  width: 85%;
  padding: 24px;
  border-radius: 24px;
  background-color: black;
}

#canvas {
  overflow: auto;
  padding: 4px;
  color: rgb(60, 220, 60);
  min-height: 250px;
  max-height: 600px;
}

input[type="file"] {
  position: absolute;
  left: -9999px;
}
input[type="file"] {
  position: absolute;
  left: -9999px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(31, 143, 20);
  border-radius: 4px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 175, 44);
}
